<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">
  <display-name>Infinite Web Application</display-name>

  <description>
     Infinit.e Web Application Environment
  </description>
  
  <servlet>
        <servlet-name>CreatePDFServlet</servlet-name>
        <servlet-class>CreatePDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>CreatePDFServlet</servlet-name>
        <url-pattern>/CreatePDFServlet</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>403</error-code>
    <location>/error.jsp</location>
  </error-page>

</web-app>