.DS_Store
Icon
Thumbs.db

*.iml
*.ipr
*.iws

.actionScriptProperties
.flexProperties
.flexLibProperties
.fxpProperties
.project
.sourceMate
.sourceMateMetadataSettings

.settings/
.idea/
bin*/
target/
html-template/

temp-libs/
dist/
docs/
target/
out/
data/
/bin-debug
/bin-release
