@CHARSET "UTF-8";

body 
{
	background-color : #212323;
	font-family: sans-serif;
}

.standardTable
{
	background-color : #6E7476;
	font-family: sans-serif;	
}

.rowTable
{
	font-family: sans-serif;	
}

.standardSubTable
{
	background-color : #E8E8E8;
	font-family: sans-serif;
}

.listTable
{
	background-color : #E8E8E8;
	font-family: sans-serif;	
}


.subTableHeader
{
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
}

.subTableFooter
{
	font-family: sans-serif;
	font-size: small;
	font-weight: normal;
	text-decoration: none;
	background-color : #E8E8E8;
}

.notAMemberOfCommunity
{
	font-family: sans-serif;
	color: #898E90;
	font-weight: normal;
	text-decoration: none;
}

.disabledText
{
	font-family: sans-serif;
	color: #898E90;
	font-weight: normal;
	text-decoration: none;
}

.headerLink
{
	font-family: sans-serif;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
a.flowbuilderIframeClose{
    float:right;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    display:none;
    background: #605F61;
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    padding: 11px 3px;       
}